body {
    background-color: #0D1D3E;
}
div{
   text-align: center;
    padding-top: 2%;
}
h2 {
    color: #F16622;
    text-align: center;
    font-size: 40;
    padding-top: 2%;
    transition: 0.3s;
}

table{
    padding-top: 2%;
    text-align: center;
   padding-left: 5%;
    width: 60%;
}